body {
    font-family: Georgia, serif; 
} /* changes the entire font family of the website */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} /* centering images */

p {
    text-align: center;
} /*centering text*/

h1 {
    text-align: center;
    font-size: 300%;
} /*centering and enlarging text*/

h2{
    text-align: center;
} /*centering text*/